h1 {
    background-color: rgb(206, 168, 86);
}
img {
    height: 200px;
    width: auto;
}
#ezra {
    color: rgb(33, 201, 69);
    font-family: 'Tahoma', sans-serif;
}
#susanna {
    color: rgb(128, 86, 206);
    font-family: 'Georgia', serif;
}
.top-three {
    font-weight: bold;
}
.recipe-type{
    background-color: transparent;
    color: rgb(52, 47, 116);
}
.distorted {
    width: 500px;
    height: 250px;
}

.enchanting li{
    color: rgb(7, 84, 110);
}
.bucket li{
    color: rgb(72, 72, 78);
}
.fence li{
    color: rgb(97, 84, 67);
}

.cryptic {
    font-family: fantasy;
}